@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Dosis&display=swap");

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    color: black;
    font-size: 10pt;
}

.header {
    height: 80px;
    width: 100%;
    background-color: #2d2d2e;
    color: #ffffff;
    z-index: 1;
    position: absolute;
}
#home-content {
    height: 100%;
}

#header-text {
    margin: 10px 0px 0px 50px;
    font-family: "Dosis", sans-serif;
    font-size: 40px;
}

#collab-card-container {
    padding-top: 100px;
    margin: auto;
    width: 80%;
}

.holding-img {
    max-height: 10%;
    max-width: 10%;
    float: left;
    padding-right: 20px;
}
