.header {
    height: 80px;
    width: 100%;
    background-color: #2d2d2e;
    color: #ffffff;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

#header-text {
    margin: 10px 0px 0px 50px;
    font-family: "Dosis", sans-serif;
    font-size: 40px;
}

#sidebar {
    position: fixed;
    height: 100%;
    width: 15%;
    float: left;
    padding-top: 80px;
    background-color: rgba(0, 0, 0, 0.05);
}
.search-group {
    margin-top: 15px;
}
.search-group label {
    display: block;
    margin-bottom: 5px;
}
.search-group input,
.search-group textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#content {
    padding-top: 80px;
    padding-left: 15%;
    width: 80%;
    margin: auto;
}

.button-container {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
}

.button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}
